In [1]:
import pandas as pd

In [5]:
noisy_student_b0 = pd.read_csv('./noisy-student-b0.csv')
noisy_student_b1 = pd.read_csv('./noisy-student-b1.csv')
noisy_student_b2 = pd.read_csv('./noisy-student-b2.csv')
noisy_student_b3 = pd.read_csv('./noisy-student-b3.csv')
noisy_student_b4 = pd.read_csv('./noisy-student-b4.csv')
# noisy_student_b5 = pd.read_csv('./noisy-student-b5.csv')
# noisy_student_b6 = pd.read_csv('./noisy-student-b6.csv')
noisy_student_b7 = pd.read_csv('./noisy-student-b7.csv')

In [8]:
noisy_student_b0.head()

  image_id       healthy  multiple_diseases          rust          scab
0   Test_0  1.825972e-06       1.970987e-04  9.997939e-01  7.180894e-06
1   Test_1  2.788777e-07       7.164234e-07  9.999989e-01  1.723180e-07
2   Test_2  3.115087e-15       1.331646e-13  1.760170e-15  1.000000e+00
3   Test_3  1.000000e+00       2.468078e-09  1.418559e-08  1.156881e-10
4   Test_4  1.321528e-13       2.027679e-12  1.000000e+00  4.704733e-22

In [11]:
ensemble1 = noisy_student_b2.copy()
ensemble1.iloc[:, 1:] = noisy_student_b2.iloc[:, 1:] * 0.25 + \
        noisy_student_b3.iloc[:, 1:] * 0.5 + \
        noisy_student_b4.iloc[:, 1:] * 0.25

ensemble1.to_csv('ensemble1.csv', index=False)
ensemble1.head()

  image_id       healthy  multiple_diseases          rust          scab
0   Test_0  1.355278e-06       1.111037e-03  9.988782e-01  9.359274e-06
1   Test_1  4.788295e-08       1.082346e-05  9.999887e-01  4.676430e-07
2   Test_2  1.243461e-09       5.996927e-08  6.324219e-08  9.999999e-01
3   Test_3  9.999944e-01       6.001977e-08  3.795738e-06  1.778770e-06
4   Test_4  1.930697e-05       6.374928e-04  9.993244e-01  1.879356e-05

In [12]:
!kaggle competitions submit -c plant-pathology-2020-fgvc7 -f ensemble1.csv -m "ensemble b2 b3 b4"

100%|████████████████████████████████████████| 168k/168k [00:05<00:00, 29.5kB/s]
Successfully submitted to Plant Pathology 2020 - FGVC7

In [15]:
ensemble2 = noisy_student_b0.copy()
ensemble2.iloc[:, 1:] = noisy_student_b0.iloc[:, 1:] * 0.1 + \
        noisy_student_b1.iloc[:, 1:] * 0.1 + \
        noisy_student_b2.iloc[:, 1:] * 0.3 + \
        noisy_student_b3.iloc[:, 1:] * 0.2 + \
        noisy_student_b4.iloc[:, 1:] * 0.3

ensemble2.to_csv('ensemble2.csv', index=False)
ensemble2.head()

  image_id       healthy  multiple_diseases          rust          scab
0   Test_0  1.781876e-06       1.335188e-03  9.986510e-01  1.195588e-05
1   Test_1  8.569965e-08       1.295411e-05  9.999866e-01  3.490707e-07
2   Test_2  1.314869e-09       2.369532e-07  2.538672e-08  9.999997e-01
3   Test_3  9.999974e-01       3.138262e-08  1.575294e-06  9.675856e-07
4   Test_4  1.078234e-05       3.423128e-04  9.996393e-01  7.537953e-06

In [16]:
!kaggle competitions submit -c plant-pathology-2020-fgvc7 -f ensemble2.csv -m "ensemble b0 b1 b2 b3 b4"

100%|████████████████████████████████████████| 168k/168k [00:06<00:00, 25.0kB/s]
Successfully submitted to Plant Pathology 2020 - FGVC7

In [18]:
custom_model_result = pd.read_csv('./others/submission-custom-model.csv')
densenet_result = pd.read_csv('./others/submission_densenet.csv')
efficientnet_result = pd.read_csv('./others/submission_efficientnet.csv')

In [19]:
ensemble3 = custom_model_result.copy()
ensemble3.iloc[:, 1:] = custom_model_result.iloc[:, 1:] * 0.33 + \
        densenet_result.iloc[:, 1:] * 0.33 + \
        efficientnet_result.iloc[:, 1:] * 0.33

ensemble3.to_csv('ensemble3.csv', index=False)
ensemble3.head()

  image_id   healthy  multiple_diseases          rust      scab
0   Test_0  0.000006           0.002997  9.872574e-01  0.000002
1   Test_1  0.000131           0.092988  8.964461e-01  0.000527
2   Test_2  0.000007           0.000119  2.605106e-08  0.907374
3   Test_3  0.907470           0.000010  4.649046e-06  0.000011
4   Test_4  0.000002           0.009458  9.806242e-01  0.000004

In [20]:
!kaggle competitions submit -c plant-pathology-2020-fgvc7 -f ensemble3.csv -m "ensemble others result"

100%|████████████████████████████████████████| 166k/166k [00:05<00:00, 28.7kB/s]
Successfully submitted to Plant Pathology 2020 - FGVC7

In [22]:
ensemble4 = ensemble3.copy()
ensemble4.iloc[:, 1:] = ensemble3.iloc[:, 1:] * 0.5 + \
        ensemble2.iloc[:, 1:] * 0.5

ensemble4.to_csv('ensemble4.csv', index=False)
ensemble4.head()

  image_id   healthy  multiple_diseases          rust      scab
0   Test_0  0.000004           0.002166  9.929542e-01  0.000007
1   Test_1  0.000065           0.046500  9.482164e-01  0.000264
2   Test_2  0.000003           0.000060  2.571889e-08  0.953687
3   Test_3  0.953734           0.000005  3.112170e-06  0.000006
4   Test_4  0.000007           0.004900  9.901318e-01  0.000006

In [24]:
!kaggle competitions submit -c plant-pathology-2020-fgvc7 -f ensemble4.csv -m "combine result from ensemble 2, 3"

100%|████████████████████████████████████████| 166k/166k [00:06<00:00, 24.8kB/s]
Successfully submitted to Plant Pathology 2020 - FGVC7

In [25]:
ensemble5 = custom_model_result.copy()
ensemble5.iloc[:, 1:] = custom_model_result.iloc[:, 1:] * 0.8 + \
        ensemble4.iloc[:, 1:] * 0.1 + \
        ensemble3.iloc[:, 1:] * 0.1

ensemble5.to_csv('ensemble5.csv', index=False)
ensemble5.head()

  image_id   healthy  multiple_diseases          rust      scab
0   Test_0  0.000004           0.001230  9.979369e-01  0.000004
1   Test_1  0.000041           0.014305  9.843049e-01  0.000086
2   Test_2  0.000001           0.000028  5.853202e-08  0.786095
3   Test_3  0.786077           0.000002  1.125638e-05  0.000022
4   Test_4  0.000005           0.001887  9.968275e-01  0.000010

In [26]:
!kaggle competitions submit -c plant-pathology-2020-fgvc7 -f ensemble5.csv -m "combine result from ensemble"

100%|████████████████████████████████████████| 167k/167k [00:06<00:00, 25.8kB/s]
Successfully submitted to Plant Pathology 2020 - FGVC7